@{
	ViewData["Title"] = "Blog";

	var isAuthor = User?.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || User.IsInRole("Editor"));
}
@using comjustinspicer.Models.Blog
@model comjustinspicer.Models.Blog.BlogViewModel

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			@if (isAuthor)
			{
				<div class="mb-4">
					<a asp-action="Edit" asp-controller="BlogPost" class="button is-primary">New +</a>
				</div>
			}
			@foreach (var post in Model.Posts)
			{
				<div class="column is-full">
					<div class="card">
						<div class="card-content">
							<p class="title">
								<a href="@Url.Action("Index", "BlogPost", new { id = post.Id })">@post.Title</a>
							</p>
							<p class="subtitle">@post.PublicationDate.ToString("MMMM dd, yyyy")</p>
							<hr />
							@Html.Raw(post.Body)

							<div class="mt-4">
								@if (isAuthor)
								{
									<a asp-action="Edit" asp-controller="BlogPost" asp-route-id="@post.Id"
										class="button is-primary">Edit</a>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>