@using Comjustinspicer.CMS.Data.Models
@model Comjustinspicer.CMS.Models.ContentBlock.ContentBlockUpsertViewModel

@{
	var isEdit = Model?.Id != null && Model.Id != Guid.Empty;
    ViewData["Title"] = isEdit ? "Edit Content Block" : "New Content Block";
}

<section class="section">
	<div class="container">
		<h1 class="title">@ViewData["Title"]</h1>
		@if (isEdit)
		{
			<h2 class="subtitle">@Model?.Id</h2>
		}
		<form asp-action="Edit" method="post">
			@Html.AntiForgeryToken()
			@{
				var returnUrl = ViewData["ReturnUrl"] as string ?? Context.Request.Query["returnUrl"].FirstOrDefault();
			}
			@if(!string.IsNullOrWhiteSpace(returnUrl))
			{
				<input type="hidden" name="returnUrl" value="@returnUrl" />
			}

			<form-fields for="@Model" />

			<div class="field is-grouped">
				<div class="control">
					<button class="button is-primary" type="submit">Save</button>
				</div>
				<div class="control">
					@if(!string.IsNullOrWhiteSpace(returnUrl))
					{
						<a href="@returnUrl" class="button">Cancel</a>
					}
					else
					{
						<a asp-action="Index" class="button">Cancel</a>
					}
				</div>
			</div>
		</form>
	</div>
</section>
